/* ------------------------- */
/* 記事とサイドバーを合わせた領域 */
/* ------------------------- */
.article-sidebar-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ------------------------- */
/* 記事の領域 */
/* ------------------------- */
.article-area {
  overflow: hidden;
  word-wrap: break-word;
  background-color: white;
  padding: 40px;
  max-width: 825px;
  flex: 1;
}

@media (max-width: 1024px) {
  .article-area {
    max-width: 650px;
  }
}

@media (max-width: 768px) {
  .article-area {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .article-area {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .article-area {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .article-area {
    max-width: 480px;
  }
}

@media (max-width: 375px) {
  .article-area {
    max-width: 375px;
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .article-area {
    max-width: 320px;
    padding: 10px;
  }
}
/* ------------------------- */
/* 見出し */
/* ------------------------- */
.article-element-h1 {
  font-size: 2em;
  font-weight: bold;
}

.dark .article-element-h1 {
  color: var(--darkModeFontColor);
}

.article-element h2 {
  font-size: 1.6em;
  padding: 0.4em 0.5em;
  border-left: solid 5px #4d7c0f;
  border-bottom: solid 1px #4d7c0f;
  margin-bottom: 1.1rem;
  margin-top: 2.5em;
  font-weight: bold;
}

.article-element h3 {
  font-size: 1.45em;
  font-weight: bold;
  margin-bottom: 1.1rem;
  margin-top: 1.5em;
  border-bottom: solid 1px #4d7c0f;
}

.article-element h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1.1rem;
  margin-top: 1.5em;
}

@media (max-width: 600px) {
  .article-element-h1 {
    font-size: 1.5em;
  }

  .article-element h2 {
    font-size: 1.6em;
  }

  .article-element h3 {
    font-size: 1.4em;
  }
  .article-element h4 {
    font-size: 1.2em;
  }
}

/* ------------------------- */
/* 文字関係 */
/* ------------------------- */

.custom-p {
  margin: 14px 0;
  font-size: 15px;
  font-family: Arial;
  line-height: 1.9;
  color: #000000d1;
}

.dark .custom-p {
  color: var(--darkModeFontColor);
}

.article-element ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.article-element li {
  margin-bottom: 0.5rem;
  color: #4b5563; /* text-gray-600 */
}

.dark .article-element li {
  color: var(--darkModeFontColor);
}

.article-element ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.article-element ol li {
  margin-bottom: 0.5rem;
  color: #4b5563; /* text-gray-600 */
}

.dark .article-element ol li {
  color: var(--darkModeFontColor);
}

/* ------------------------- */
/* 表 */
/* ------------------------- */
.article-element table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.article-element td {
  border: 1px solid #b7c7bb;
  padding: 0.5rem;
  text-align: left;
}

.article-element tr {
  background-color: #f9fafb;
}

.dark .article-element tr {
  background-color: #313131;
  color: var(--darkModeFontColor);
}

.article-element th {
  background-color: #f7fff9;
  border: 1px solid #b7c7bb;
  color: black;
  font-weight: bold;
}

.dark .article-element th {
  background-color: #282828;
  color: var(--darkModeFontColor);
  border: 1px solid #1c1c1c;
}

.dark .article-element td {
  border: 1px solid #1c1c1c;
}
