@tailwind base;
@tailwind components;
@tailwind utilities;
@import "katex/dist/katex.min.css";

/* ------------------------- */
/* 記事一覧リスト横幅 */
/* ------------------------- */

.articleList-area {
  max-width: 820px;
}

@media (max-width: 1024px) {
  .articleList-area {
    max-width: 620px;
  }
}

@media (max-width: 768px) {
  .articleList-area {
    max-width: 320px;
  }
}

/* ------------------------- */
/* 目次 */
/* ------------------------- */
.toc-list {
  @apply w-full my-0 px-0;
}

.toc-link {
  @apply text-gray-400 text-sm font-light no-underline transition-colors duration-200 rounded-md inline-block w-full py-1 pl-2;
}

.is-collapsible .toc-link {
  @apply ml-2 font-normal;
}

.toc-list-item {
  @apply list-none w-full rounded-md py-0 my-0;
}

.is-active-link {
  @apply bg-gray-200;
}

.fixed {
  position: fixed;
  top: 0;
}
